.app {
    background-color: #83d9ee;
}
.header {
    display: flex;
    justify-content: center;
  }
.grid {

    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 350px 350px 350px 350px;
    border: 1px solid black;
    background-color: rgb(1, 227, 255);
}

